@media only screen and (max-width: 746px) {
    .screen-box{
        align-items:center;

    }
    .Inventory-main-container{
        flex-direction: column;
        /* height: max-content; */
        height: 100%;
    }
    .account-name-con,.tmr-question,.Inventory-bottom-container{
        display: none;
    }
    .nav-container{
        justify-content: unset;
        gap: 10px;
    }
    .nav-container-second{
        justify-content: center;
        gap: 10px;
    }
    .progressBar-nain-con{
        width: 100%;
        justify-content: space-between;
    }
    .Inventory-main-left-container{
        border-right: none;
        padding: 0rem 1.5rem;
    }
    .card-box {
        width: 100%;
        height: calc(100vh - 60px - 60px - 10px);
   
        /* height: fit-content; */
        /* background-color: blue; */
    }
    
    .Inventory-answear-container {
        padding: 0rem 1.5rem;
    }
    .Inventory-answear-container-box {
        width: 100%;
    }
    .Inventory-heading-title{
        flex-direction: row;
        background-color: white;
        padding: 1rem 1.25rem;
        border-radius: 5px;
    }
    .question-container{
        background-color: white;
        padding: 1rem 1.25rem;
        border-radius: 5px;
    }
    .Inventory-heading-titleAssessment-left{
        order:2
    }
    .hide-content{
        display: none;
    }
    .Inventory-heading-titleAssessment-num-Q{
        font-weight: 500;
    }
    .card-box {
        background-color: unset;
        overflow-y: auto;
    }
    .Inventory-answear-container{
        margin: 0 0;
    }
    .Inventory-answear-text{
        font-weight: 700;
        margin-top: 1rem;
    }

    .Inventory-main-container {
        gap:0;
    }
    .Inventory-main-container>div {
        /* flex: unset; */
        margin-top: 1rem;
    }
    .Inventory-answear-container >div,.Inventory-answear-container >p{
        background-color: white;
        padding: 1rem 1.25rem;
        border-radius: 5px;
    }
    .bold{
        font-weight: 600;
    }
    .bottom-btn-main-container {
        position: fixed;
        bottom: 0; /* Align to the bottom of the viewport */
        left: 0;   /* Align to the left of the viewport */
        right: 0;  /* Stretch to the right of the viewport */
        height: 60px; /* Optional: Set the height of the container */
        background-color: #fff; /* Optional: Background color for visibility */
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional: Shadow for visual effect */
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .card-box-secound{
        width: 95vw;
    }
    .thankyou-body-progressBtn-container{
        flex-direction: column;
    }
    .thankyou-inner-container{
        width: 100%;
        justify-content: space-between;
    }
    .thankyou-inner-container-for-second{
        width: 100%;
        justify-content: center;
    }
    .thankyou-container-bottom {
        /* height: 4rem !important; */
        height: 60px !important;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    }
    .thankyou-body-successful-main-container{
        padding: 0.5rem 1.25rem;
    }

    .thankyou-body-successful-main-container,.thankyou-body-gretting-container{
        background-color: white;
    }
    .thankyou-body-successful-review-radio-container{
        flex-direction: column;
    }
    .thankyou-body-successful-review-radio-container{
        border:unset;
        gap:10px;
    }
    .review-radio-container-output>div {
        border: 1px solid rgba(209, 213, 219, 1);
        padding: 0.25rem;
        border-radius: 5px;
    }
    .review-radio-container-output{
        gap:10px;
    }
    .review-radio-container-ques {
        border-right: none;
    }
    .review-radio-container-ques {
        padding: 0rem;
    }
    .progress-container {
        width: 10rem;
    }
    .thank-you-end-greeting{
        display: none;
    }
    .thankyou-container-top{
        background-color: unset !important;
        height: calc(100vh - 60px - 60px - 2rem);
        overflow-y: scroll;
    }
    .review-radio-inner-container>label{
        display: none;
    }
    

}