@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
}
@media (min-width: 640px) {
	* {
		font-size: 16px;
	}
}

/* Page based css */

/* Index page */
@media (min-width: 640px) {
	.home-page__main {
		background-color: #f5f5f5;
		display: grid;
		place-items: center;
		margin-top: 0rem;
		height: 100vh;
		width: 100vw;
	}
	.home-page__content {
		background-color: white;
		border-radius: 0.25rem;
		padding: 1.5rem 0.75rem;
		width: 43.75rem;
		height: 37.75rem;
	}
}
@media (max-width: 639px) {
	.home-page__main {
		margin-top: 3rem;
	}
	.home-page__content {
		background-color: white;
		border-radius: 0.25rem;
		padding: 0.5rem 0.75rem;
	}
	.home-page__submit-section {
		position: fixed;
		bottom: 0.5rem;
		left: 50%;
		transform: translateX(-50%);
	}
	.home-page__submit-button {
		margin: 0;
		margin-bottom: 0.5rem;
	}
}

.logo-section {
	display: flex;
	justify-content: center;
}
.home-page__title {
	font-size: 1.25rem;
	font-weight: 700;
	text-align: center;
	margin: 1rem 0;
}
.home-page__sub-heading {
	font-size: 1.125rem;
	font-weight: 400;
	margin: 1rem 0;
	text-align: center;
}
.home-page__blue-button-container {
	display: flex;
	justify-content: center;
}
.home-page__blue-button {
	width: 27.5rem;
	margin: 1rem auto;
	text-align: center;
	background-color: #0076b2;
	outline: none;
	border: none;
	height: 3rem;
	border-radius: 0.25rem;
	color: #ffffff;
	cursor: pointer;
}
.home-page__input-section {
	width: 27.5rem;
	margin: 1rem auto;
}
.home-page__input-label {
	font-size: 1rem;
	font-weight: 400;
}
.home-page_input-field {
	margin-top: 0.25rem;
	height: 3rem;
	width: 100%;
	padding: 0.5rem;
	border-radius: 0.25rem;
	outline: none;
	border: 0.1rem solid #d1d5db;
}
.home-page_input-field:focus {
	outline: none;
	border-color: #d1d5db;
}
.home-page_input-field::placeholder {
	color: #d1d5db;
}
.home-page__submit-section {
	display: flex;
	justify-content: center;
}
.home-page__submit-button {
	background-color: #0f766e;
	border: none;
	outline: none;
	padding: 0.75rem 1.5rem;
	color: white;
	border-radius: 0.25rem;
	width: 7.5rem;
	margin: 1rem 0;
	cursor: pointer;
}
.sign-in_text {
	font-size: 0.875rem;
	text-align: center;
	margin-top: 1.2rem;
}
.sign-in__link {
	font-weight: 700;
	color: black;
}

/* Intropage */
@media (min-width: 640px) {
	.intro-page__main {
		background-color: #f5f5f5;
		display: grid;
		place-items: center;
		margin-top: 0rem;
		height: 100vh;
		width: 100vw;
	}
	.intro-page__content {
		background-color: white;
		width: 43.75rem;
		height: 30.5rem;
		border-radius: 0.25rem;
		padding: 1.5rem 0.75rem;
	}
	.intro-page__contact-section::before {
		content: "";
		position: absolute;
		width: 100%;
		top: 0.5rem;
		left: 0;
		border: 1px solid #d1d5db;
	}
	.preparation-page__permission-section {
		margin-top: auto;
	}
}
@media (max-width: 640px) {
	.intro-page__content {
		padding: 1.5rem;
	}
	.intro-page__button-section {
		position: fixed;
		bottom: 0.5rem;
		padding-top: 1.2rem;
		left: 50%;
		transform: translateX(-50%);
	}
	.preparation-page__permission-section {
		margin-top: 3rem;
	}
}
.intro-page__user-greet {
	font-size: 2.25rem;
	text-align: center;
	font-weight: 600;
	margin: 1.5rem 0;
}
.intro-page__message {
	text-align: center;
	margin: 1.5rem auto;
}
.intro-page__date-section {
	text-align: center;
	margin: 1.5rem 0;
}
.intro-page__date-section > span {
	font-weight: 700;
}
.intro-page__time-section {
	text-align: center;
	margin: 1.5rem 0;
}
.intro-page__time-section > span {
	font-weight: 700;
}
.intro-page__button-section {
	display: flex;
	justify-content: center;
	margin: 1.5rem 0;
}
.intro-page__button {
	background-color: #0f766e;
	padding: 0.75rem 1.5rem;
	color: white;
	outline: none;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
}
.intro-page__contact-section {
	text-align: center;
	padding: 1.5rem 0;
	position: relative;
}
.intro-page__contact-section > span {
	font-weight: 700;
}

/* Preparation Page */
@media (min-width: 640px) {
	.preparation-page__main {
		background-color: #f5f5f5;
		padding-bottom: 1.5rem;
	}
	.preparation-page__navbar {
		justify-content: space-between;
		padding: 0.75rem 2rem;
	}
	.preparation-page__title {
		width: min(78.125rem, 90%);
		padding: 0.75rem 1rem;
		border-radius: 0.25rem;
	}
	.preparation-page__content-main {
		display: flex;
		width: min(78.125rem, 90%);
		margin: 0.125rem auto;
		background-color: white;
		height: 44.5rem;
		padding: 2rem;
		border-radius: 0.25rem;
	}
	.preparation-page__content-menu {
		width: 30%;
		border-right: 1px solid #f5f5f5;
	}
	.preparation-page__button-section {
		width: min(78.125rem, 90%);
		padding: 1rem;
	}
	.preparation-page__menu_card {
		width: 20.125rem;
	}
	.preparation-page__permission-section {
		margin-left: 1rem;
		align-items: center;
		gap: 0.5rem;
	}
	.preparation-page__content-details {
		padding-left: 0.75rem;
	}
	.preparation-page__menu_cards-section {
		margin-right: 1rem;
		margin: 1.5rem 0;
		margin-right: 1rem;
	}
}

@media (max-width: 639px) {
	.preparation-page__content-main {
		padding: 1rem;
		margin-top: 2rem;
	}
	.preparation-page__navbar {
		justify-content: center;
		padding-top: 1.75rem;
	}
	.preparation-page__navbar-user {
		display: none;
	}
	.preparation-page__menu_cards-section {
		margin: 1.5rem 0;
	}
	.preparation-page__content-details {
		margin-top: 2rem;
	}
	.preparation-page__permission-section {
		flex-direction: column;
		gap: 1rem;
		text-align: left;
	}
	.preparation-page__permission-section button {
		width: max-content;
	}
}

.preparation-page__content-menu-title {
	font-size: 1.125rem;
	font-weight: 700;
	margin-bottom: 0.75rem;
}
.preparation-page__content-menu-subtitle {
	font-size: 0.875rem;
	margin-top: 1.5rem;
}
.preparation-page__timer-section {
	margin-top: 1rem;
}
.preparation-page__timer {
	font-weight: 700;
	background-color: #e0f2fe;
	color: #0369a1;
	padding: 0.75rem 1.5rem;
	width: 6rem;
	font-size: 0.875rem;
	border-radius: 0.25rem;
}
.preparation-page__title {
	background-color: white;
	font-size: 1.5rem;
	text-align: center;
	margin: 0.5rem auto;
	margin-top: 1.5rem;
}
.preparation-page__navbar {
	display: flex;
	background-color: white;
	align-items: center;
}

.preparation-page__menu_card {
	width: 100%;
	border: 1px solid #6b7280;
	margin: 0.75rem 0;
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
}
.preparation-page__menu_card-title {
	color: #1f2937;
	font-weight: 600;
	line-height: 2.25rem;
}
.preparation-page__menu_card-time {
	color: #6b7280;
	font-weight: 700;
	line-height: 1.5rem;
}
.preparation-page__content-details p {
	font-weight: 700;
}
.preparation-page__content-details ul > li {
	margin: 0.5rem 0;
	margin-left: 1.25rem;
}
.preparation-page__content-details ul {
	margin-top: 0.75rem;
}
.preparation-page__permission-section {
	border: 1px solid #6b7280;
	border-radius: 0.25rem;
	padding: 0.75rem 1rem;
	display: flex;
}
.preparation-page__permission-icons{
	display: flex;
	margin: auto 0;
	gap: .5rem;
}
.preparation-page__permission-icons img{
	height: 1.75rem;
}
.preparation-page__permission-section button {
	background-color: white;
	border: 2px solid #0f766e;
	border-radius: 0.25rem;
	padding: 0.125rem 0.25rem;
	color: #0f766e;
	font-weight: 700;
}
.preparation-page__content-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.preparation-page__button-section {
	background-color: white;
	margin: 1rem auto;
	display: flex;
	justify-content: end;
	padding: 1rem;
}

.preparation-page__button {
	background-color: #0f766e;
	color: white;
	padding: 0.75rem 1.5rem;
	font-weight: 700;
	border-radius: 0.25rem;
	outline: none;
	border: none;
}

.preparation-page__button:focus {
	outline: none;
	border: none;
}

/* Ensuring page styles */
@media (min-width: 640px) {
	.ensuring__main {
		background-color: #f5f5f5;
		padding-bottom: 1.5rem;
		display: grid;
		place-content: center;
		min-height: 100vh;
		min-width: 100vw;
	}
	.ensuring__navbar {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		justify-content: space-between;
		padding: 0.75rem 2rem;
	}
	.ensuring__content {
		background-color: white;
		border-radius: 0.25rem;
		width: min(43.75rem, 90%);
		height: 34.875rem;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media (max-width: 639px) {
	.ensuring__navbar {
		justify-content: center;
		padding: 2rem;
	}
	.ensuring__navbar-user {
		display: none;
	}
	.ensuring__button-section {
		position: fixed;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%);
	}
	.ensuring__rule {
		position: fixed;
		bottom: 5rem;
		left: 0;
	}
}
.ensuring__navbar {
	background-color: white;
	display: flex;
	align-items: center;
}
.ensuring__content {
	padding: 2rem;
}
.ensuring__title {
	font-size: 1.875rem;
	line-height: 2.5rem;
	font-weight: 600;
	text-align: center;
}
.ensuring__disclaimer {
	font-size: 1.125rem;
	line-height: 1.5rem;
	padding: 1.5rem 2rem;
	font-weight: 600;
	border: 2px solid #f5f5f5;
	border-radius: 0.25rem;
	width: 100%;
	margin: 2rem 0;
	display: flex;
	gap: 1rem;
	align-items: center;
}
.ensuring__point {
	line-height: 1.375rem;
	font-weight: 700;
}
.ensuring__list {
	margin-top: 1rem;
}
.ensuring__list li {
	margin-left: 2rem;
	line-height: 2.125rem;
}
.ensuring__button-section {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}
.ensuring__button {
	background-color: #0f766e;
	color: white;
	padding: 0.75rem 1.5rem;
	font-weight: 700;
	border-radius: 0.25rem;
	outline: none;
	border: none;
	cursor: pointer;
}

.ensuring__button:focus {
	outline: none;
	border: none;
}

.ensuring__rule {
	width: 100%;
	border: none;
	border-top: 1px solid #d1d5db;
}


/* Start Assessment Page */

@media (min-width: 640px) {
	.start-assessment__main {
		background-color: #f5f5f5;
		padding-bottom: 1.5rem;
		display: grid;
		place-content: center;
		min-height: 100vh;
		min-width: 100vw;
	}
	.start-assessment__navbar {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		justify-content: space-between;
		padding: 0.75rem 2rem;
	}
	.start-assessment__content {
		background-color: white;
		border-radius: 0.25rem;
		width: min(43.75rem, 90%);
		height: 34.875rem;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media (max-width: 639px) {
	.start-assessment__navbar {
		justify-content: center;
		padding: 1.25rem;
	}
	.start-assessment__navbar-user {
		display: none;
	}
	.start-assessment__button-section {
		position: fixed;
		bottom: 0.75rem;
		left: 50%;
		transform: translateX(-50%);
	}
}
.start-assessment__navbar {
	background-color: white;
	display: flex;
	align-items: center;
}
.start-assessment__content {
	padding: 2rem;
	text-align: center;
}

.start-assessment__assessment-number {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2rem;
}
.start-assessment__assessment-title {
	font-size: 1.875rem;
	font-weight: 600;
	line-height: 2.5rem;
	margin: 1rem 0;
}
.start-assessment__questions {
	font-size: 1.125rem;
	line-height: 1.5rem;
	font-weight: 700;
	margin: 0.75rem 0;
}
.start-assessment__total-duration {
	font-size: 0.875rem;
	line-height: 1.2rem;
	color: #6b7280;
	margin: 0.5rem;
}
.start-assessment__assessment-timer {
	font-weight: 700;
	background-color: #e0f2fe;
	color: #0369a1;
	padding: 0.75rem 1.5rem;
	width: 6rem;
	font-size: 0.875rem;
	border-radius: 0.25rem;
}
.start-assessment__assessment-timer-section {
	margin: 1rem 0;
}

.start-assessment__details {
	text-align: left;
	margin: 2.5rem 0;
	line-height: 2.125rem;
}
.start-assessment__button-section {
	margin-top: auto;
}
.start-assessment__button {
	background-color: #0f766e;
	color: white;
	padding: 0.75rem 1.5rem;
	font-weight: 700;
	border-radius: 0.25rem;
	outline: none;
	border: none;
	cursor: pointer;
}
.start-assessment__button:focus {
	border: none;
	outline: none;
}



/* Submission page styles */

@media (min-width: 640px) {
	.submit-page__main {
		background-color: #f5f5f5;
		display: grid;
		place-content: center;
		height: 100vh;
		width: 100vw;
	}
	.submit-page__content {
		background-color: white;
		border-radius: 0.25rem;
		width: min(43.75rem, 90%);
		height: 389px;
		margin: 0 auto;
	}
	.submit-page__button{
		margin: 1.5rem 0;
	}
}

@media (max-width:639px) {
	.submit-page__button{
		position: fixed;
		bottom: 1rem;
		left: 50%;
		transform: translateX(-50%);
	}
	.submit-page__line{
		position: fixed;
		bottom: 5rem;
		left: 0;
		 width: 100%;
		 border: none;
		 border-top: 2px solid #f5f5f5;
	}
}
.submit-page__content {
	padding: 2rem;
	text-align: center;
}
.submit-page__logo-section {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}
.submit-page__heading {
	font-weight: 600;
	font-size: 1.5rem;
	margin: 2rem 0;
}
.submit-page__message {
	font-size: 1.125rem;
	line-height: 1.5rem;
}
.submit-page__button {
	
	background-color: #0f766e;
	color: white;
	padding: 0.75rem 1.5rem;
	font-weight: 700;
	border-radius: 0.25rem;
	outline: none;
	border: none;
	cursor: pointer;
}
.submit-page__button:focus {
	border: none;
	outline: none;
}
.submit-page__contact{
	margin-top: 0.5rem;
	font-size: 0.875rem;
	font-weight: 400;
}
.submit-page__contact span{
	font-weight: 600;
}