@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
}
@media (min-width: 640px) {
	* {
		font-size: 16px;
	}
}

/* Font weight */
.font-100 {
	font-weight: 100;
}
.font-200 {
	font-weight: 200;
}
.font-300 {
	font-weight: 300;
}
.font-400 {
	font-weight: 400;
}
.font-500 {
	font-weight: 500;
}
.font-600 {
	font-weight: 600;
}
.font-700 {
	font-weight: 700;
}
.font-800 {
	font-weight: 800;
}
.font-900 {
	font-weight: 900;
}
.font-1000 {
	font-weight: 1000;
}
.text-gray-deep {
	color: #6b7280;
}

.text-sm {
	font-size: 14px;
}

.width-full {
	width: 100%;
}
.text-center {
	text-align: center;
}
.my-2 {
	margin: 1rem 0;
}
.mt-auto {
	margin-top: auto;
}
.px-5 {
	padding: 0 5rem;
}
.flex {
	display: flex;
}
.self-center {
	display: block;
	margin: 0 auto;
}

/* Buttons */
.btn {
	border: none;
	outline: none;
	border-radius: 0.15rem;
	padding: 0.75rem 1.25rem;
}
.btn-blue {
	background-color: #0076b2;
	color: white;
}
.btn-green {
	background-color: #0f766e;
	color: white;
}
.btn-outline-green {
	outline: none;
	border: 2px solid #0f766e;
	color: #0f766e;
	padding: 0.5rem 0.75rem;
	background-color: white;
	border-radius: 0.25rem;
}
a {
	color: black;
	text-decoration: none;
}

/* Input */
.input-field {
	padding: 0.75rem;
	border-radius: 0.15rem;
	outline: none;
	margin: 0.5rem 0;
	border: 0.1rem solid #d1d5db;
}
.input-field:focus {
	border-color: #d1d5db;
}
.input-field::placeholder {
	color: #d1d5db;
}
.input-label {
	padding: 1rem 0;
}

/* background color */
.bg-base {
	background-color: #f5f5f5;
}
.bg-white {
	background-color: white;
}

.border-cards__section {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

/* Structure */
@media (min-width: 640px) {
	.navbar {
		justify-content: space-between;
	}
	.navbar-user {
		display: block;
	}
}
@media (max-width: 640px) {
	.navbar {
		justify-content: center;
	}
	.navbar-user {
		display: none;
	}
}

.navbar {
	padding: 1.2rem;
	display: flex;
	align-items: center;
}
.view-full {
	min-height: 100vh;
	min-width: 100vw;
}
.grid-center {
	display: grid;
	place-content: center;
	height: 100%;
	width: 100%;
}
.flex-center {
	display: flex;
	justify-items: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.full-card {
	width: 80vw;
}

@media (min-width: 640px) {
	.begining-assesment_main {
		display: flex;
	}
}
.begining-assesment_main {
	background-color: white;
	padding: 1.25rem 2.5rem;
	border-radius: 0.55rem;
	box-shadow: 10 10 25 gray;
}
.card {
	background-color: white;
	padding: 1.25rem 2.5rem;
	border-radius: 0.55rem;
	box-shadow: 10 10 25 gray;
}

@media (min-width: 640px) {
	.info-card {
		padding: 1.25rem 2.5rem;
		border-radius: 0.65rem;
		width: 40rem;
		max-height: 33rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
@media (max-width: 640px) {
	.info-card{
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 2rem 1.2rem;
	}
	.info-card > hr{
		display: none;
	}
	
}
.info-card {
	background-color: white;
	height: 40rem;
}

/* Alignment */
.content-center {
	display: flex;
	justify-items: center;
}
.centered-logo {
	margin: 0 auto;
	height: 2rem;
	width: 2rem;
}

.input-label {
	text-align: left;
}

.timer {
	background-color: #e0f2fe;
	color: #0369a1;
	padding: 0.5rem 1rem;
	display: inline-block;
	border-radius: 0.15rem;
}

.border-card {
	border: 1px solid #d1d5db;
	border-radius: 0.125rem;
	padding: 0.5rem;
}

@media screen and (min-width: 640px) {
	.menu_section {
		padding-right: 1.25rem;
		width: 30%;
		border-right: 1px solid #d1d5db;
	}
}

@media (min-width: 640px) {
	.home-page__main {
		background-color: #f5f5f5;
		display: grid;
		place-items: center;
		margin-top: 0rem;
		height: 100vh;
		width: 100vw;
	}
}
@media (max-width:640px) {
	.home-page__main{
		margin-top: 3rem;
	}
}
@media (min-width:640px) {
	.intro-page__main{
		background-color: #f5f5f5;;
		display: grid;
		place-items: center;
		margin-top: 0rem;
		height: 100vh;
		width: 100vw;
	}
}



@media (min-width: 640px) {
	.details_section {
		padding-left: 1.25rem;
	}
}

.details_section {
	display: flex;
	flex-direction: column;
	gap: 10rem;
}
.details_section ul > li {
	margin-left: 2rem;
}

@media (min-width: 640px) {
	.title-description_text {
		border-radius: 0.25rem;
	}
}

.title-description_text {
	background-color: white;
	padding: 1.25rem;
	margin: 1rem 0;
}

.allow_section {
	border: 1px solid #d1d5db;
	padding: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.25rem;
}
.page-change_section {
	display: flex;
	justify-content: end;
}
.card-center_page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.myList > li {
	margin-left: 1.5rem;
}