@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
}
@media (min-width: 640px) {
	* {
		font-size: 16px;
	}
}

/* Font weight */
.font-100 {
	font-weight: 100;
}
.font-200 {
	font-weight: 200;
}
.font-300 {
	font-weight: 300;
}
.font-400 {
	font-weight: 400;
}
.font-500 {
	font-weight: 500;
}
.font-600 {
	font-weight: 600;
}
.font-700 {
	font-weight: 700;
}
.font-800 {
	font-weight: 800;
}
.font-900 {
	font-weight: 900;
}
.font-1000 {
	font-weight: 1000;
}
.text-gray-deep {
	color: #6b7280;
}

.text-sm {
	font-size: 14px;
}
.text-md {
	font-size: 18px;
}

.width-full {
	width: 100%;
}
.text-center {
	text-align: center;
}
.my-2 {
	margin: 1rem 0;
}
.mt-auto {
	margin-top: auto;
}
.px-5 {
	padding: 0 5rem;
}
.flex {
	display: flex;
}
.self-center {
	display: block;
	margin: 0 auto;
}

/* Buttons */
.btn {
	border: none;
	outline: none;
	border-radius: 0.15rem;
	padding: 0.75rem 1.25rem;
}
.btn-blue {
	background-color: #0076b2;
	color: white;
}
.btn-green {
	background-color: #0f766e;
	color: white;
}
.btn-outline-green {
	outline: none;
	border: 2px solid #0f766e;
	color: #0f766e;
	padding: 0.5rem 0.75rem;
	background-color: white;
	border-radius: 0.25rem;
}
a {
	color: black;
	text-decoration: none;
}

/* Input */
.input-field {
	padding: 0.75rem;
	border-radius: 0.15rem;
	outline: none;
	margin: 0.5rem 0;
	border: 0.1rem solid #d1d5db;
}
.input-field:focus {
	border-color: #d1d5db;
}
.input-field::placeholder {
	color: #d1d5db;
}
.input-label {
	padding: 1rem 0;
}

/* background color */
.bg-base {
	background-color: #f5f5f5;
}
.bg-white {
	background-color: white;
}

.border-cards__section {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

/* Structure */
@media (min-width: 640px) {
	.navbar {
		justify-content: space-between;
	}
	.navbar-user {
		display: block;
	}
}
@media (max-width: 640px) {
	.navbar {
		justify-content: center;
	}
	.navbar-user {
		display: none;
	}
}

.navbar {
	padding: 1.2rem;
	display: flex;
	align-items: center;
}
.view-full {
	min-height: 100vh;
	min-width: 100vw;
}
.grid-center {
	display: grid;
	place-content: center;
	height: 100%;
	width: 100%;
}
.flex-center {
	display: flex;
	justify-items: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.full-card {
	width: 80vw;
}

@media (min-width: 640px) {
	.begining-assesment_main {
		display: flex;
	}
}
.begining-assesment_main {
	background-color: white;
	padding: 1.25rem 2.5rem;
	border-radius: 0.55rem;
	box-shadow: 10 10 25 gray;
}
.card {
	background-color: white;
	padding: 1.25rem 2.5rem;
	border-radius: 0.55rem;
	box-shadow: 10 10 25 gray;
}

@media (min-width: 640px) {
	.info-card {
		padding: 1.25rem 2.5rem;
		border-radius: 0.65rem;
		width: 40rem;
		max-height: 33rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
@media (max-width: 640px) {
	.info-card {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 2rem 1.2rem;
	}
	.info-card > hr {
		display: none;
	}
}
.info-card {
	background-color: white;
	height: 40rem;
}

/* Alignment */
.content-center {
	display: flex;
	justify-items: center;
}
.centered-logo {
	margin: 0 auto;
	height: 2rem;
	width: 2rem;
}

.input-label {
	text-align: left;
}

.timer {
	background-color: #e0f2fe;
	color: #0369a1;
	padding: 0.5rem 1rem;
	display: inline-block;
	border-radius: 0.15rem;
}

.border-card {
	border: 1px solid #d1d5db;
	border-radius: 0.125rem;
	padding: 0.5rem;
}

@media screen and (min-width: 640px) {
	.menu_section {
		padding-right: 1.25rem;
		width: 30%;
		border-right: 1px solid #d1d5db;
	}
}

@media (min-width: 640px) {
	.details_section {
		padding-left: 1.25rem;
	}
}

.details_section {
	display: flex;
	flex-direction: column;
	gap: 10rem;
}
.details_section ul > li {
	margin-left: 2rem;
}

@media (min-width: 640px) {
	.title-description_text {
		border-radius: 0.25rem;
	}
}

.title-description_text {
	background-color: white;
	padding: 1.25rem;
	margin: 1rem 0;
}

.allow_section {
	border: 1px solid #d1d5db;
	padding: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.25rem;
}
.page-change_section {
	display: flex;
	justify-content: end;
}
.card-center_page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.myList > li {
	margin-left: 1.5rem;
}

/* Page based css */

/* Index page */
@media (min-width: 640px) {
	.home-page__main {
		background-color: #f5f5f5;
		display: grid;
		place-items: center;
		margin-top: 0rem;
		height: 100vh;
		width: 100vw;
	}
	.home-page__content {
		background-color: white;
		border-radius: 0.25rem;
		padding: 1.5rem 0.75rem;
		width: 43.75rem;
		height: 37.75rem;
	}
}

.logo-section {
	display: flex;
	justify-content: center;
}
.home-page__title {
	font-size: 1.25rem;
	font-weight: 700;
	text-align: center;
	margin: 1rem 0;
}
.home-page__sub-heading {
	font-size: 1.125rem;
	font-weight: 400;
	margin: 1rem 0;
	text-align: center;
}
.home-page__blue-button-container {
	display: flex;
	justify-content: center;
}
.home-page__blue-button {
	width: 27.5rem;
	margin: 1rem auto;
	text-align: center;
	background-color: #0076b2;
	outline: none;
	border: none;
	height: 3rem;
	border-radius: 0.25rem;
	color: #ffffff;
	cursor: pointer;
}
.home-page__input-section {
	width: 27.5rem;
	margin: 1rem auto;
}
.home-page__input-label {
	font-size: 1rem;
	font-weight: 400;
}
.home-page_input-field {
	margin-top: 0.25rem;
	height: 3rem;
	width: 100%;
	padding: 0.5rem;
	border-radius: 0.25rem;
	outline: none;
	border: 0.1rem solid #d1d5db;
}
.home-page_input-field:focus {
	outline: none;
	border-color: #d1d5db;
}
.home-page_input-field::placeholder {
	color: #d1d5db;
}
.home-page__submit-section {
	display: flex;
	justify-content: center;
}
.home-page__submit-button {
	background-color: #0f766e;
	border: none;
	outline: none;
	padding: 0.75rem 1.5rem;
	color: white;
	border-radius: 0.25rem;
	width: 7.5rem;
	margin: 1rem 0;
	cursor: pointer;
}
.sign-in_text {
	font-size: 0.875rem;
	text-align: center;
	margin-top: 1.2rem;
}
.sign-in__link {
	font-weight: 700;
}

@media (max-width: 639px) {
	.home-page__main {
		margin-top: 3rem;
	}
	.home-page__content {
		background-color: white;
		border-radius: 0.25rem;
		padding: 0.5rem 0.75rem;
	}
	.home-page__submit-section {
		position: fixed;
		bottom: 0.5rem;
		left: 50%;
		transform: translateX(-50%);
	}
	.home-page__submit-button {
		margin: 0;
		margin-bottom: 0.5rem;
	}
}

/* Intropage */
@media (min-width: 640px) {
	.intro-page__main {
		background-color: #f5f5f5;
		display: grid;
		place-items: center;
		margin-top: 0rem;
		height: 100vh;
		width: 100vw;
	}
	.intro-page__content {
		background-color: white;
		width: 43.75rem;
		height: 30.5rem;
		border-radius: 0.25rem;
		padding: 1.5rem 0.75rem;
	}
	.intro-page__contact-section::before {
		content: "";
		position: absolute;
		width: 100%;
		top: 0.5rem;
		left: 0;
		border: 1px solid #d1d5db;
	}
	.preparation-page__permission-section {
		margin-top: auto;
	}
}
@media (max-width: 640px) {
	.intro-page__content {
		padding: 1.5rem;
	}
	.intro-page__button-section {
		position: fixed;
		bottom: 0.5rem;
		padding-top: 1.2rem;
		left: 50%;
		transform: translateX(-50%);
	}
	.preparation-page__permission-section {
		margin-top: 3rem;
	}
}
.intro-page__user-greet {
	font-size: 2.25rem;
	text-align: center;
	font-weight: 600;
	margin: 1.5rem 0;
}
.intro-page__message {
	text-align: center;
	margin: 1.5rem auto;
}
.intro-page__date-section {
	text-align: center;
	margin: 1.5rem 0;
}
.intro-page__date-section > span {
	font-weight: 700;
}
.intro-page__time-section {
	text-align: center;
	margin: 1.5rem 0;
}
.intro-page__time-section > span {
	font-weight: 700;
}
.intro-page__button-section {
	display: flex;
	justify-content: center;
	margin: 1.5rem 0;
}
.intro-page__button {
	background-color: #0f766e;
	padding: 0.75rem 1.5rem;
	color: white;
	outline: none;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
}
.intro-page__contact-section {
	text-align: center;
	padding: 1.5rem 0;
	position: relative;
}
.intro-page__contact-section > span {
	font-weight: 700;
}

/* Preparation Page */
@media (min-width: 640px) {
	.preparation-page__main {
		background-color: #f5f5f5;
		padding-bottom: 1.5rem;
	}
	.preparation-page__navbar {
		justify-content: space-between;
		padding: 0.75rem 2rem;
	}
	.preparation-page__title {
		width: min(78.125rem, 90%);
		padding: 0.75rem 1rem;
		border-radius: 0.25rem;
	}
	.preparation-page__content-main {
		display: flex;
		width: min(78.125rem, 90%);
		margin: 0.125rem auto;
		background-color: white;
		height: 44.5rem;
		padding: 2rem;
		border-radius: 0.25rem;
	}
	.preparation-page__content-menu {
		width: 30%;
		border-right: 1px solid #f5f5f5;
	}
	.preparation-page__button-section {
		width: min(78.125rem, 90%);
		padding: 1rem;
	}
	.preparation-page__menu_card {
		width: 20.125rem;
	}
	.preparation-page__permission-section {
		margin-left: 1rem;
		align-items: center;
		gap: 0.5rem;
	}
	.preparation-page__content-details {
		padding-left: 0.75rem;
	}
	.preparation-page__menu_cards-section{
		margin-right: 1rem;
		margin: 1.5rem 0;
	}
}

@media (max-width: 639px) {
	.preparation-page__content-main {
		padding: 1rem;
		margin-top: 2rem;
	}
	.preparation-page__navbar {
		justify-content: center;
		padding-top: 1.75rem;
	}
	.preparation-page__navbar-user {
		display: none;
	}
	.preparation-page__menu_cards-section{
		margin: 1.5rem 0;
	}
	.preparation-page__content-details {
		margin-top: 2rem;
	}
	.preparation-page__permission-section {
		flex-direction: column;
		gap: 1rem;
		text-align: left;
	}
	.preparation-page__permission-section button {
		width: max-content;
	}
}

.preparation-page__content-menu-title {
	font-size: 1.125rem;
	font-weight: 700;
	margin-bottom: 0.75rem;
}
.preparation-page__content-menu-subtitle {
	font-size: 0.875rem;
	margin-top: 1.5rem;
}
.preparation-page__timer-section {
	margin-top: 1rem;
}
.preparation-page__timer {
	font-weight: 700;
	background-color: #e0f2fe;
	color: #0369a1;
	padding: 0.75rem 1.5rem;
	width: 6rem;
	font-size: 0.875rem;
	border-radius: 0.25rem;
}
.preparation-page__title {
	background-color: white;
	font-size: 1.5rem;
	text-align: center;
	margin: 0.5rem auto;
	margin-top: 1.5rem;
}
.preparation-page__navbar {
	display: flex;
	background-color: white;
	align-items: center;
}

.preparation-page__menu_card {
	width: 100%;
	border: 1px solid #6b7280;
	margin: 0.75rem 0;
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
}
.preparation-page__menu_card-title {
	color: #1f2937;
	font-weight: 600;
	line-height: 2.25rem;
}
.preparation-page__menu_card-time {
	color: #6b7280;
	font-weight: 700;
	line-height: 1.5rem;
}
.preparation-page__content-details p {
	font-weight: 700;
}
.preparation-page__content-details ul > li {
	margin: 0.5rem 0;
	margin-left: 1.25rem;
}
.preparation-page__content-details ul {
	margin-top: 0.75rem;
}
.preparation-page__permission-section {
	border: 1px solid #6b7280;
	border-radius: 0.25rem;
	padding: 0.75rem 1rem;
	display: flex;
}

.preparation-page__permission-section button {
	background-color: white;
	border: 2px solid #0f766e;
	border-radius: 0.25rem;
	padding: 0.125rem 0.25rem;
	color: #0f766e;
	font-weight: 700;
}
.preparation-page__content-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.preparation-page__button-section {
	background-color: white;
	margin: 1rem auto;
	display: flex;
	justify-content: end;
	padding: 1rem;
}

.preparation-page__button {
	background-color: #0f766e;
	color: white;
	padding: 0.75rem 1.5rem;
	font-weight: 700;
	border-radius: 0.25rem;
	outline: none;
	border: none;
}

.preparation-page__button:focus {
	outline: none;
	border: none;
}
