@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}
/* Font weight */
.font-100 {
	font-weight: 100;
}
.font-200 {
	font-weight: 200;
}
.font-300 {
	font-weight: 300;
}
.font-400 {
	font-weight: 400;
}
.font-500 {
	font-weight: 500;
}
.font-600 {
	font-weight: 600;
}
.font-700 {
	font-weight: 700;
}
.font-800 {
	font-weight: 800;
}
.font-900 {
	font-weight: 900;
}
.font-1000 {
	font-weight: 1000;
}
.my-2 {
	margin: 1rem 0;
}
.text-sm{
	font-size: 14px;
}
.text-md{
	font-size: 18px;
}
.screen-box{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}
.card-box{
    width: 90vw;
    height: 80vh;
    background-color: white;
    border-radius: 5px;
}
.nav-container{
    height: 60px;
    width: 100vw;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 2rem;
}
.nav-img-con{
    padding: 0.25rem 0rem;
}
.nav-img-con>Img{
    height: 100%;

}
.account-name-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progressBar-nain-con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.progress-container {
    width: 150px;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    height: 5px;
    background-color: rgba(16, 185, 129, 1);
    border-radius: 25px 0 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    transition: width 0.4s ease;
}
.timer-con-box{
    background-color: rgba(224, 242, 254, 1);
    border-radius: 3px;
    padding: 0.25rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 2rem;

}
.img-time-logo{
    height: 10px;
}
.timer-count{
    font-size: 10px;
    font-weight: 700;
    color: rgba(3, 105, 161, 1);
}
.tmr-question{
    font-size: 10px;
    color: rgba(107, 114, 128, 1);
}


.Inventory-main-container{
    display: flex;
    gap:2px;
    height: 100%;
    overflow-y: auto;
}
/* .Inventory-main-container>div{
    flex:1;
} */
.Inventory-main-left-container{
    border-right: 1px solid rgb(172, 169, 169);
    height: 100%;
    padding: 1.25rem 2.5rem;
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
}
.Inventory-heading-title{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
}

.question-container{
    height: max-content;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    margin-top: 1rem;
}
.Inventory-main-right-container{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:3;
}
.Inventory-answear-container{
    padding: 1.25rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap:12px;
    /* margin: 1rem 0; */
}

.Inventory-answear-container-box{
    border: 1px solid rgb(185, 181, 181);
    padding: 1.25rem 0.75rem;
    border-radius: 5px;
    width: 80%;
}
.Inventory-height{
    height: 85vh;
}
.bottom-btn-main-container{
    border-top: 1px solid rgb(205, 205, 208);
}
.next-btn-container {
    margin: 1.25rem 1rem;
    float: right;
    padding: 0.75rem 1rem;
    background-color: rgba(15, 118, 110, 1);
    color:white;
    border-radius: 5px;
    border:none;
    
}
.Inventory-heading-titleAssessment-left{
    display: flex;
}
.Inventory-heading-titleAssessment-right{
    display: flex;
    align-items: center;
}

/* Hide the default radio button */
input[type="radio"] {
    display: none;
}

/* Custom radio button styling */
.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 25px;
    position: relative;
    margin: 10px 0;
    font-size: 16px;
}

.custom-radio::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #fff;
}

/* Change border and fill color when radio button is checked */
input[type="radio"]:checked + .custom-radio::before {
    background-color: rgba(15, 118, 110, 1);
    border-color: rgba(15, 118, 110, 1);
}

.Inventory-bottom-container{
    border: 1px solid rgb(205, 201, 201);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    gap:5px;
}
.Inventory-bottom-container{
    display: flex;
    gap:5px;
}

.Inventory-bottom-container-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.Inventory-bottom-container-inner>img{
    height: 15px;
    width: 15px;
}
.question-suggestion-container{
    border: 1px solid rgb(184, 181, 181);
    border-radius: 5px;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.image-suggestion-class{
    height: 100px;
    width: 150px;
}
.textarea-container{
    height: 200px;
    border: 1.5px solid rgb(193, 191, 191);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: 100%; 

  }
  .video-instruction-container{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  .video-main-container{
    display: flex;
    flex-direction: column;
    gap:5px;
    

  }
  .video-microphone-section{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .microphone-container{
    width: 23rem;
    border: 1px solid rgb(195, 193, 193);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
  }
  .video-left-section{
    display: flex;
    gap:5px;
  }
  .video-mic-logo-container{
    height: 100%;
    border-radius: 3px;
    border:1px solid rgb(10, 10, 10);
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video-mic-logo-container>img{
    height: 10px;
    width: 10px;
  }

/* add */
  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    max-width: 550px;
    width: 100%;
    margin: auto;
  }
  
  .video-container>video {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .video-control-button>button {
    padding: 10px 20px;
    border: 2px solid rgba(15, 118, 110, 1);
    border-radius: 5px;
    color: rgba(15, 118, 110, 1);
    cursor: pointer;
  }
  .video-control-button{
    display: flex;
    gap:10px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  




@media only screen and (max-width: 746px) {
    .screen-box{
        align-items:center;

    }
    .Inventory-main-container{
        flex-direction: column;
    }
    .account-name-con,.tmr-question,.Inventory-bottom-container{
        display: none;
    }
    .nav-container{
        justify-content: unset;
        gap: 10px;
    }
    .progressBar-nain-con{
        width: 100%;
        justify-content: space-between;
    }
    .Inventory-main-left-container{
        border-right: none;
        padding: 0rem 1.5rem;
    }
    .card-box {
        width: 100%;
        height: fit-content;
        /* background-color: blue; */
    }
    
    .Inventory-answear-container {
        padding: 0rem 1.5rem;
    }
    .Inventory-answear-container-box {
        width: 100%;
    }
    .Inventory-heading-title{
        flex-direction: row;
        background-color: white;
        padding: 1rem 1.25rem;
        border-radius: 5px;
    }
    .question-container{
        background-color: white;
        padding: 1rem 1.25rem;
        border-radius: 5px;
    }
    .Inventory-heading-titleAssessment-left{
        order:2
    }
    .hide-content{
        display: none;
    }
    .Inventory-heading-titleAssessment-num-Q{
        font-weight: 500;
    }
    .card-box {
        background-color: unset;
    }
    .Inventory-answear-container{
        margin: 0 0;
    }
    .Inventory-answear-text{
        font-weight: 700;
        margin-top: 1rem;
    }

    .Inventory-main-container {
        gap:0;
    }
    .Inventory-main-container>div {
        flex: unset;
        margin-top: 1rem;
    }
    .Inventory-answear-container >div,p{
        background-color: white;
        padding: 1rem 1.25rem;
        border-radius: 5px;
    }
    .bold{
        font-weight: 600;
    }
    .bottom-btn-main-container {
        position: fixed;
        bottom: 0; /* Align to the bottom of the viewport */
        left: 0;   /* Align to the left of the viewport */
        right: 0;  /* Stretch to the right of the viewport */
        height: 60px; /* Optional: Set the height of the container */
        background-color: #fff; /* Optional: Background color for visibility */
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional: Shadow for visual effect */
        display: flex;
        justify-content: end;
        align-items: center;
    }
    

}